<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" version="2.5">
  <servlet>
    <description></description>
    <display-name>Display</display-name>
    <servlet-name>Display</servlet-name>
    <servlet-class>util.Display</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Display</servlet-name>
    <url-pattern>/Display</url-pattern>
  </servlet-mapping>
  <display-name>DeployApp</display-name>
  <welcome-file-list>
    <welcome-file>Home.html</welcome-file>
  </welcome-file-list>
  <servlet>
    <description></description>
    <display-name>ErrorHandler</display-name>
    <servlet-name>ErrorHandler</servlet-name>
    <servlet-class>error.ErrorHandler404</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ErrorHandler</servlet-name>
    <url-pattern>/ErrorHandler</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ErrorHandlerGeneral</display-name>
    <servlet-name>ErrorHandlerGeneral</servlet-name>
    <servlet-class>error.ErrorHandlerGeneral</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ErrorHandlerGeneral</servlet-name>
    <url-pattern>/ErrorHandlerGeneral</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ErrorServlet</display-name>
    <servlet-name>ErrorServlet</servlet-name>
    <servlet-class>error.ErrorServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ErrorServlet</servlet-name>
    <url-pattern>/ErrorServlet</url-pattern>
  </servlet-mapping>
  <error-page>
    <error-code>404</error-code>
    <location>/ErrorHandler</location>
  </error-page>
  <error-page>
    <exception-type>java.lang.Throwable</exception-type>
    <location>/ErrorHandlerGeneral</location>
  </error-page>
  <filter>
    <filter-name>ServletFilter</filter-name>
    <filter-class>login.ServletFilter</filter-class>
  </filter>
  <filter-mapping>
    <filter-name>ServletFilter</filter-name>
    <url-pattern>/LoginServlet</url-pattern>
  </filter-mapping>
  <servlet>
    <description></description>
    <display-name>Sessions</display-name>
    <servlet-name>Sessions</servlet-name>
    <servlet-class>cookies.CookieInfo</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Sessions</servlet-name>
    <url-pattern>/Sessions</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>Cookie</display-name>
    <servlet-name>Cookie</servlet-name>
    <servlet-class>cookies.CookieSetup</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Cookie</servlet-name>
    <url-pattern>/Cookie</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ProcessInput</display-name>
    <servlet-name>ProcessInput</servlet-name>
    <servlet-class>demo.ProcessInput</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ProcessInput</servlet-name>
    <url-pattern>/ProcessInput</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>FilterInput</display-name>
    <servlet-name>FilterInput</servlet-name>
    <servlet-class>demo.FilterInput</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>FilterInput</servlet-name>
    <url-pattern>/FilterInput</url-pattern>
  </servlet-mapping>
  <filter>
    <filter-name>FilterInput</filter-name>
    <filter-class>demo.FilterInput</filter-class>
  </filter>
  <filter-mapping>
    <filter-name>FilterInput</filter-name>
    <url-pattern>/ProcessInput</url-pattern>
  </filter-mapping>
  <servlet>
    <description></description>
    <display-name>ErrorMessage</display-name>
    <servlet-name>ErrorMessage</servlet-name>
    <servlet-class>demo.ErrorMessage</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ErrorMessage</servlet-name>
    <url-pattern>/ErrorMessage</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>CookieInfoRemastered</display-name>
    <servlet-name>CookieInfoRemastered</servlet-name>
    <servlet-class>cookies.CookieInfo</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>CookieInfoRemastered</servlet-name>
    <url-pattern>/CookieInfoRemastered</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ServletRequestListener</display-name>
    <servlet-name>ServletRequestListener</servlet-name>
    <servlet-class>listeners.ServletRequestListener</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ServletRequestListener</servlet-name>
    <url-pattern>/ServletRequestListener</url-pattern>
  </servlet-mapping>
<servlet>
    <servlet-name>ExtendedDemoInput</servlet-name>
    <jsp-file>/ExtendedDemo.jsp</jsp-file>
</servlet>
<servlet-mapping>
    <servlet-name>ExtendedDemoInput</servlet-name>
    <url-pattern>/ExtendedDemo</url-pattern>   
</servlet-mapping>
</web-app>